<div class="container main-content">
  <div class="col-sm-10 mx-auto text-center">
    <h1>Users</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach( (user) => { %>
        <tr>
          <td>
            <a href="<%= `/users/${user._id}` %>">
              <%= `${user.name.first_name} ${user.name.last_name}` %>
            </a>
          </td>
          <td><%= user.email %></td>
          <td>
            <a href="<%= `/users/${user._id}/edit` %>">Edit</a>
          </td>
          <td>
            <a
              href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Are you sure?')"
              >Delete</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div>
      <a href="/users/new" class="btn btn-primary">Join</a>
    </div>
  </div>
</div>
